<nav
  id="sidebar"
  class="pt-12 w-12 md:w-1/6 md:min-w-[16rem] bg-gray1 dark:bg-gray7 ease-in-out duration-300 absolute md:static z-10 md:z-0 overflow-clip"
  >
  <div class="w-full h-12 md:hidden">
    <button
      id="hamburger"
      class="text-blue-600 dark:text-blue-400 p-3 focus:outline-none float-left ease-in-out duration-300"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          id="open"
          class=""
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
        <path
          id="close"
          class="hidden"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  </div>
  <ul
    id="sidebarContent"
    class="px-8 md:pl-8 font-code mb-20 invisible md:visible ease-in-out duration-300 block origin-left"
  >
    <li class="heading">guide</li>
    <li><a href="/">why?</a></li>
    <li><a href="/guide/start">get started</a></li>
    <li><a href="/guide/todo">common patterns</a></li>
    <li><a href="/guide/todo">sveltekit ssr</a></li>
    <li class="heading">app</li>
    <li><a href="/app/firebase-app">&ltFirebaseApp&gt</a></li>
    <li><a href="/app/context">getFirebaseContext</a></li>
    <li class="heading">auth</li>
    <li><a href="/auth/user-store">userStore</a></li>
    <li><a href="/auth/signed-in">&ltSignedIn&gt</a></li>
    <li><a href="/auth/signed-out">&ltSignedOut&gt</a></li>
    <li class="heading">firestore</li>
    <li><a href="/firestore/doc-store">docStore</a></li>
    <li><a href="/firestore/collection-store">collectionStore</a></li>
    <li><a href="/firestore/doc-component">&ltDoc&gt</a></li>
    <li><a href="/firestore/collection-component">&ltCollection&gt</a></li>
    <li class="heading">storage</li>
    <li><a href="/guide/todo">uploadTaskStore</a></li>
    <li><a href="/guide/todo">&ltFileUploader&gt</a></li>
    <li><a href="/guide/todo">&ltDownloadURL&gt</a></li>
    <li class="heading">analytics</li>
    <li><a href="/guide/todo">&ltPageView&gt</a></li>
  </ul>
</nav>

<script>
  const sidebar = document.getElementById('sidebar');
  const content = document.getElementById('sidebarContent');
  const hamburger = document.getElementById('hamburger');
  const opensvg = document.getElementById('open');
  const closesvg = document.getElementById('close');

  let showSideNav = false;
  // Toggle sidebar
  function toggleSideNav() {
    showSideNav = !showSideNav;
    if(showSideNav) {
      sidebar.classList.replace('w-12', 'w-64');
      content.classList.replace('invisible', 'visible');
      hamburger.classList.replace('float-left', 'float-right');
    }
    else {
      content.classList.replace('visible', 'invisible');
      sidebar.classList.replace('w-64', 'w-12');
      hamburger.classList.replace('float-right', 'float-left');
    }
    opensvg.classList.toggle('hidden');
    closesvg.classList.toggle('hidden');
  }

  // Add click event to hamburger button
  document
    .getElementById('hamburger')
    .addEventListener('click', toggleSideNav);
</script>

<style>
  li {
    @apply dark:text-gray4 my-2;
  }
  .heading {
    @apply my-6 text-gray6 dark:text-white;
  }
  a {
    @apply text-blue-600 dark:text-blue-400 !important;
  }
  @media (min-width: 768px) {
    .hidden.md:block {
      display: block !important;
    }
  }
</style>
